<div class="rightBox float-l mar-t-double">
  <h3 class="font-sz-big mar-none rule-darkGreen-b pad-l-divide">Welcome to R Venkata Rao Maratha Hostel</h3>
  <p>This is to our Great Grandfather. Still content has to come.
  </p>
</div>
